.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  background-color: #ffffff;
}

.title {
  width: 30%;
  display: flex;
  align-items: center;
}

.title img {
  border-left: 1px solid black;
  padding-left: 1.5%;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 37%;
}

.title .icons {
  width: 15%;
  height: 40px;
}

.search input {
  height: 22px;
  width: 220px;
  text-align: center;
  background-color: #fafafa;
  color: #cacacc;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.symbols {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.symbols .icons {
  cursor: pointer;
  width: 15%;
  height: 40px;
}
