.comment {
  display: flex;
  align-items: center;
  margin-bottom: 0.5%;
}

.comment:hover {
  opacity: 0.2;
  cursor: pointer;
}

.comment h3 {
  margin: 0;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 16px;
  color: #26263a;
}

.comment p {
  margin: 0;
  font-size: 16px;
  color: #3e3628;
}
